body{
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
  background-color: cadetblue;
}
.video-container{
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.height-block{
  height: 1000px;
  background-color: cornflowerblue;
}

/* video{
  width: 300px;
} */
video{
      border-radius: 30px;
      max-width: 290px;
      max-height: 627px;
      background-size: contain;
      background-repeat: no-repeat;
}